
@page "/student"
@namespace StudentsClinet
@using Students.Client.Dto
@* @using Students.Application.Model *@
@inject NavigationManager navigation
@inject HttpClient httpClient
@* @inject StudentRazorLibrary navigation
@inject IStringLocalizer<Resource> localizer

<button type="button" class="btn btn-success" @onclick="GoToAddPage">Add new Student</button>

<div class="container mt-5">
    <h2>Student</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">@localizer[nameof(Student.Name)]</th>
                <th scope="col">@localizer[nameof(Student.Email)]</th>
                <th scope="col">@localizer[nameof(Student.Gender)]</th>
                <th scope="col">@localizer[nameof(Student.DateOfBirth)]</th>
                <th scope="col">@localizer[nameof(Student.PhoneNumber)] </th>
                <th scope="col">@localizer[nameof(Student.Address)]</th>
                <th scope="col">@localizer[nameof(Student.NationalID)]</th>

                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @if (_isLoading)
            {
                <tr>
                    <td colspan="6" style="height: 100px;">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-center">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                                <h2>Loading...</h2>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            else if ( _isEmpty )
            {
                <div class="alert alert-info"> There is not Students List Availlable</div>
            }
            else{
                @foreach (Student item in Students ?? new())
            {
                <tr>
                    <td scope="col">@item.Name</td>
                    <td scope="col">@item.Email</td>
                    <td scope="col">@item.Gender</td>
                    <td scope="col">@item.DateOfBirth</td>
                    <td scope="col">@item.PhoneNumber</td>
                    <td scope="col">@item.Address</td>
                    <td scope="col">@item.NationalID</td>
                   
                    <td scope="col">
                            <a href="javascript:void(0)" @onclick="()=> GoToEditPage(item.StudentId ?? 0) " class="btn btn-primary m-1"><i class="bi bi-pencil-fill"></i> </a>
                            <a @onclick="ShowModal" class="m-1 btn btn-danger  "><i class="bi bi-trash3  "></i></a>
                         <Modal @ref="modalComponent" Id="@Guid.NewGuid()" ModalTitle="Delete" Message="Are you sure" OnSave="()=>DeleteStudent(item)" /> 
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>

</div>
 *@
@inject NavigationManager navigation


<button type="button" class="btn btn-success" @onclick="GoToAddPage">Add new Student</button>

<div class="container mt-5">
    <h2>Student</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">@nameof(StudentDTO.Name)</th>
                <th scope="col">@nameof(StudentDTO.Email)</th>
                <th scope="col">@nameof(StudentDTO.Gender)</th>
                <th scope="col">@nameof(StudentDTO.DateOfBirth)</th>
                <th scope="col">@nameof(StudentDTO.PhoneNumber) </th>
                <th scope="col">@nameof(StudentDTO.Address)</th>
                <th scope="col">@nameof(StudentDTO.NationalID)</th>

                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @if (_isLoading)
            {
                <tr>
                    <td colspan="6" style="height: 100px;">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="text-center">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                </div>
                                <h2>Loading...</h2>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            else if ( _isEmpty )
            {
                <div class="alert alert-info"> There is not Students List Availlable</div>
            }
            else{
                @foreach (StudentDTO item in Students ?? new())
            {
                <tr>
                    <td scope="col">@item.Name</td>
                    <td scope="col">@item.Email</td>
                    <td scope="col">@item.Gender</td>
                    <td scope="col">@item.DateOfBirth</td>
                    <td scope="col">@item.PhoneNumber</td>
                    <td scope="col">@item.Address</td>
                    <td scope="col">@item.NationalID</td>

                    <td scope="col">
                            @* <a href="javascript:void(0)" @onclick="()=> GoToEditPage(item.StudentId ?? 0) " class="btn btn-primary m-1"><i class="bi bi-pencil-fill"></i> </a> *@
                        
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>

</div>
